<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="style.css"
</head>
<body>
  <h1>Login Page</h1>


  <% if (message) { %>
    <div class="alert alert-danger">
      <h1><%= message %></h1>
    </div>
    <%
  } %>

  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <input type="submit" value="Submit">
  </form>

  <a href="register">no account register </a>
</body>
</html>