<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Secret Page</title>
</head>
<body>
    <h1>Secret Page</h1>
    <p>You are now logged in.</p>
    <form action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>
