<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secret Page</title>
  </head>
  <body>
    <h1>Welcome <%= user.username %>!</h1>
    <p>You have successfully logged in to the secret page.</p>
    <form method="GET" action="/logout">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
