<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Secret Page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <h1>Welcome <%= user.username%></h1>

    <p>
      <h1>this is your to do list</h1>
    </p>

    <ul>
      <% user.secret.forEach((s, index) => {
        %>
        <li class="show"><span><%= s %> </span><form method="POST" action="/secret/<%= index %>?_method=DELETE">
          <button type="submit" class="delete-btn">delete</button>
        </form>
        </li>
        <%
      }); %>
    </ul>

    <form method="post" action="/secret">
      <label for="secret">add new secrets</label>
      <input type="text" name="secret" for="secret"class="area">
      <button type="submit">save</button>
    </form>

    <form method="GET" action="/logout">
      <button type="submit">logout</button>
    </form>
  </div>
</body>
</html>